@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

.App {
  background: rgb(108,75,193);
  background: linear-gradient(155deg, rgba(108,75,193,1) 0%, rgba(123,205,194,1) 100%); 
  min-height: 100vh;
  min-width: 100vw;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

.Sidebar {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 900;
  background-color: whitesmoke;
  color: #333;
  flex-grow: 1
}

.App-link {
  color: #61dafb;
}

.Logo {
  max-width: 20vmin;
  width: auto;
  height: auto;
  filter: invert();
}