@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap&text=rneacy');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

.App {
  overflow: hidden;
  font-size: calc(10px + 2vmin);
  color: black;
  display: flex;
  font-family: 'Manrope', sans-serif;
  height: 100vh;
}

.Sidebar {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: azure;
  background-image: url("res/toolbox_bg.png");
  background-repeat: repeat;
}

.Header {
  background: rgb(0,200,0);
  background: linear-gradient(155deg, rgba(0,200,0,1) 0%, rgba(62,182,253,1) 100%);
  color: #FFF;

  font-weight: 900;
  
  width: 100%;
  padding-top: 1vmin;
}

.Interaction {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Interaction-Row {
  width: 100%;
  
}

.Interaction-Break {
  height: 10vmin;
}

.App-link {
  color: #61dafb;
}

.Logo {
  min-width: 10vmin;
  width: auto;
  height: auto;
  margin: 0 auto;
}
.Logo:hover{
  animation: shake 350ms ease-in-out forwards;
}
@keyframes shake {
  0% { 
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-6deg) scale(1.2);
  }
  70% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.Options {
  width: 100%;
}

.Footer {
  background: rgb(108,75,193);
  background: linear-gradient(155deg, rgba(108,75,193,1) 0%, rgba(123,205,194,1) 100%);
  width: 100%;
}

.Me {
  font-family: 'Exo 2', sans-serif;
  text-decoration: none;
  color: white;
}

.e-sidebar {
  border-radius: 5px;
  padding: 1.2vmin;
  font-size: 2.5vmin;
  font-weight: 700;
}

.e-sidebar-purple, .e-sidebar-purple:focus, .e-sidebar-purple:active {
  background-color: #A363F8;
  color: #fff;
}

.e-sidebar-purple:hover {
  background-color: #8C55D4;
}

.e-sidebar, .e-sidebar:hover, .e-sidebar:focus, .e-sidebar:active {
  background-color: #3EB6FD;
  color: #fff;
}

.e-sidebar:hover {
  background-color: #3EA3FD;
}

.e-sidebar-dark, .e-sidebar-dark:hover, .e-sidebar-dark:focus, .e-sidebar-dark:active {
  background-color: #2C93C7;
  color: #fff;
}

.e-sidebar-dark:hover {
  background-color: #2782B0;
}

.sidebar-label {
  color: black;
  font-size: 2vmin;
}

button {
  margin: 1vmin;
}

input {
  font-size: 16pt;
  text-align: center;
}